<html>
    <head>
        <script src = "../../services/tabs/global.js"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src = "../../services/plotter.js"></script>
        <script src = "../../services/selectors.js"></script>
        <script src = "../../services/client.js"></script>
        <link rel = "stylesheet" href="../../../lib/styles/selectors.css">
    </head>
<body onLoad = "main()">
    <div id = "selectors" style = "padding: 20px; border-radius: 30px; border-style: groove; border-color:lightcoral;">
    </div>
    <div id = "chartContainer" style = "margin: 15px">
    </div>
</html>