<html>
    <head>
        <script src = "../../services/tabs/regional.js"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src = "../../services/plotter.js"></script>
        <script src = "../../services/selectors.js"></script>
        <script src = "../../services/client.js"></script>
        <link rel = "stylesheet" href="../../../lib/styles/selectors.css">
    </head>
<body onLoad = "main()">
    <div id = "selectors">
    </div>
    <div id = "chartContainer">
    </div>
</body>
</html>