<HTML>
  <HEAD>
    <TITLE> World Religions By Region </TITLE>
    <LINK rel = "stylesheet" href="../../lib/styles/information.css">
    <LINK rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <LINK rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <SCRIPT src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></SCRIPT>
    <SCRIPT src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></SCRIPT>
    <SCRIPT src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"  ></SCRIPT>
  </HEAD>
<BODY>
<!------------NAVIGATION BAR------------------>
<section id ="nav-bar">
  <nav class="navbar navbar-expand-lg navbar-light" id="navcolor">
          <a class="navbar-brand" href="#"><img src = "../../lib/logo/logo.png"></a>
           
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="  navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" >
            <li class="nav-item ">
              <a class="nav-link" href="../../index.html"> HOME </a>
            </li> 
          <li class="nav-item">
              <a class="nav-link" href="./information.html">INFORMATION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html"> ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./bar_graph.html"> BAR GRAPH</a>
            </li>
            <!-- <li class="nav-item Search"> -->
              <input type="text" placeholder="Search.." id="Search">
            <!-- </li> -->
        </ul>
    </div>
  
  </nav> 
  </section>
<div style = "padding-top: 25px;">
  <iframe src = "tabs.html" style = "height: 100%; width: 100%" scrolling = "no"></iframe>
</div>
</body>
</html>