<!DOCTYPE html>
<html>
<head>
<script src = "../services/tabs.js"></script>
<link rel = "stylesheet" href="../../lib/styles/tabs.css">
</head>
<body style = "margin:0; height: 100vh; max-height: 100%; width: 100%; flex-flow: column; display: flex;">
  <div class="tab" style = "height: max-content; width: 100%">
    <button class="tablinks" onclick="openCity(event, 'Global')">Global</button>
    <button class="tablinks" onclick="openCity(event, 'Regional')">Regional</button>
    <button class="tablinks" onclick="openCity(event, 'National')">National</button>
  </div>
  <div style = "height: 100%">
    <iframe src = "./tabs/global.html" id = "Global" class = "tabcontent" style = "width: 100%; height: 100%;"></iframe>
    <iframe src = "./tabs/regional.html" id = "Regional" class = "tabcontent" style = "width: 100%; height: 100%;"></iframe>
    <iframe src = "./tabs/national.html" id = "National" class = "tabcontent"style = "width: 100%; height: 100%;"></iframe>
  </div>
</body>
</html> 
