<!DOCTYPE html>
<html>
<head>
<script src = "../services/tabs.js"></script>
<link rel = "stylesheet" href="../../lib/styles/tabs.css">
</head>
<body onload="document.getElementById('global_button').click()">
  <div class="tab" style = "height: max-content; width: 100%">
    <button class="tablinks" id="global_button" onclick="openTab(event, 'Global')">Global</button>
    <button class="tablinks" id="regional_button" onclick="openTab(event, 'Regional')">Regional</button>
    <button class="tablinks" id="national_button" onclick="openTab(event, 'National')">National</button>
  </div>
  <div style = "height: 100%; padding: 15px; background-color: white;">
    <iframe src = "./tabs/global.html" id = "Global" class = "tabcontent"></iframe>
    <iframe src = "./tabs/regional.html" id = "Regional" class = "tabcontent"></iframe>
    <iframe src = "./tabs/national.html" id = "National" class = "tabcontent"></iframe>
  </div>
</body>
</html> 
